/*
-----------------------------------------------
Some Site - Shell

Units:
    Pixels for layout, nav tabs
    Ems for fonts, leading, textual margins

Search "=1" for Most Pages, etc.
1. Most Pages
2. Form Pages
3. Hacks & Filters
-----------------------------------------------*/


/* =1 Most Pages
===============================================*/

body {
    margin: 0 auto 20px auto;
    width: 840px;
    text-align: left;
    background: none;
    }

.l-header {
    padding: 10px 0;
    min-height: 40px;
    height: 150px;
}

.l-content {
    float: left;
    width: 570px;
    margin: 0 0 40px 0;
    }
.l-aside {
    float: right;
    width: 180px;
    margin: 0 0 40px 0;
    padding: 10px;
    }
* html .l-aside {
    width: 200px;
    w\idth: 180px;
    }
.l-footer {
    clear: both;
    padding: 10px 0 110px 0;
    }
* html .l-footer {
    width: 760px;
    w\idth: 740px;
    }
    




/* Typography --------------------------------------------------- */


@font-face {
    font-family: 'MuseoSans500';
    src: url('../type/museosans_500-webfont.eot');
    src: local('â˜º'), url('../type/museosans_500-webfont.woff') format('woff'), url('../type/museosans_500-webfont.ttf') format('truetype'), url('../type/museosans_500-webfont.svg#webfontMwB8UJNC') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Verdana, "Lucida Grande", Lucida, "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

h1 {
    margin-bottom: 10px;
    font: bold 1.9em/1em Georgia, "Dejavu Serif", "Bitstream Vera Serif", "Times New Roman", serif;
    color: #a14723;
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'MuseoSans500', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 20px;
    color: #6a9d56;
    }
h3 {
    margin: 20px 0 10px 0;
    font-size: 16px;
    color: #4e6270;
line-height: 20px;
}
    
    h3 a { border-bottom: none; }
    
h4 {
    margin: 1em 0 0.3em;
    border-bottom: 1px dotted #ccc;
    font: 1.4em/1.5em Georgia, "Dejavu Serif", "Bitstream Vera Serif", "Times New Roman", serif;
    color: #666;
    }
    
    h4 a { border-bottom: none; }
    
h5 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #666;
    }
h6 {
    margin: 1em 0 0.5em;
    font-size: 0.9em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #666;
    }
p {
    margin: 0 0 1.5em;
    font-size: 1.1em;
    line-height: 1.5em;
    }
p img { margin: 0 0.5em 0 0 }

table, address {
    margin-bottom: 1.5em;
    font-size: 0.9em;
    line-height: 1.5em;
    }
blockquote {
    margin: 0 0 1.5em 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    }
ol {
    list-style: decimal;
    margin: 1em 0 1em 1.5em;
    font-size: 1.1em;
    line-height: 1.5em;
    }
ul {
    list-style: circle;
    margin: 1em 0 1em 1.5em;
    font-size: 1.1em;
    line-height: 1.5em;
    }
ol ol {list-style: lower-alpha;}
ol ol ol {list-style: lower-roman;}
ul ul {list-style: square;}
ul ul ul {list-style: circle;}

ol ol,
ol ul,
ul ol,
ul ul {font-size: 1em;}

li {
    margin: 0.5em 0;
    list-style-image: url(../images/bullet.gif);
    }
dl {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.5em;
    }
dt {
    font-weight: bold;
    }
dd {
    margin: 0 0 1em 1em;
    }
address {
    font-style: normal;
    }
em, i {
    font-style: italic;
    }
strong, b {
    font-weight: bold;
    }
cite {
    white-space: nowrap;
    font-style: italic;
    }
img {
    margin: 0;
    border: 0;
    }
p img {
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0;
    }
hr {
    margin: 1em 0;
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px dotted #bbb;
    }
    


/* General color ----------------------------------------------- */

html { 
    background: #fff url(header-bg5-heighten.gif) repeat-x;
    background-color: #FFF;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

body {
    color: #333;
    }


/* Links ----------------------------------------------- */

a {
    color: #260;
    text-decoration: none; 
    padding-bottom: 1px; 
    border-bottom: 1px dotted #aaa;
    }
a:link { 
    color: #260;
    border-bottom: 1px dotted #aaa;
    }
a:visited { 
    color: #6a3;
    }
a:hover, a:active { 
    color: #000;
    }


/* Tables ----------------------------------------------- */

table {
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    }
caption {
    color: #666;
    }
th, td {
    padding: 0.2em 0.5em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 11px;
    }
th {
    font-weight: bold;  background: #f2f2f2;
    }
    
    

/* Navigation ================================================== */


/* Side nav ----------------------------------------------- */

.l-nav ul {
    list-style-type: none;
    margin: 28px 0 0;
    }
.l-nav ul li {
    margin: 0 0 10px;
    list-style-image: none;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'MuseoSans500', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #999;
    }
.l-nav ul ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 10px;
    border-left: 1px dotted #aaa;
    }

.l-nav ul ul:hover {
    border-left: 1px solid #7a7;
}

.l-nav ul ul li {
    font-family: "Lucida Grande", Lucida, "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-size: 11px;
    text-transform: none;
    margin: 0;
    }

.l-nav ul li a {
    border: none;
}

.l-nav ul li a.opened {
    color: #000;
    }
.l-nav ul li a.current {
    color: #000;
    }



/* Top nav ----------------------------------------------- */

#nav-top ul.nav {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin: 5px 0 -5px 0;
    padding: 5px 0 0 0;
    text-align: left;
    border-top: 1px dotted #ddd;
    }
#nav-top ul.nav ul {
    display: none;
    z-index: 3;
    }
#nav-top ul.nav ul.click {
    display: block;
    }
#nav-top ul.nav li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    color: #999;
    }
#nav-top ul.nav li a {
    display: block;
    float: left;
    padding: 5px 20px 5px 0;
    color: #3b76d0;
    font-family: Georgia, "Dejavu Serif", "Bitstream Vera Serif", "Times New Roman", serif;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1em;
    text-decoration: none;
    border: 0;
    }
    #nav-top ul.nav li a.opened {
        color: #555;
        }
    #nav-top ul.nav li a.current {
        color: #333;
        }
    #nav-top ul.nav li a:hover {
        color: #333;
        }
#nav-top ul.nav li ul {
    position : absolute;
    top: 26px;
    left: 0px;
    width: 199px;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #222;
    }
    #nav-top ul.nav li ul li {
        display: inline;
        float: none;
        clear: both;
        margin: 0;
        }
    #nav-top ul.nav ul li a {
        float: none;
        clear: both;
        margin: 0;
        padding: 5px 10px 5px 10px;
        font-family: "Lucida Grande", Lucida, "Lucida Sans Unicode", Verdana, Arial, sans-serif;
        font-size: 12px;
        border: 0;
        border-bottom: 1px solid #ccc;
        color: #333 !important;
        background: #fff !important;
        letter-spacing: 0;
        }
    #nav-top ul.nav ul li a.last {
        border-bottom: 1px solid #333;
        }
    #nav-top ul.nav ul li a:hover {
        margin: 0;
        padding: 5px 10px 5px 10px;
        letter-spacing: 0;
        background: #ddd !important; color: #333 !important;
        }
    #nav-top ul.nav ul li a.subMenu {
        background: #fff url(../images/right.gif) center right no-repeat !important;
        }
    #nav-top ul.nav ul li a.subMenu:hover {
        background: #ddd url(../images/rightover.gif) center right no-repeat !important;
        }
    #nav-top ul.nav li ul ul {
        position: absolute;
        left: 197px;
        top: -10px;
        width: 199px;
        }

    

/* Page structure ============================================== */

/* Header ----------------------------------------------- */

.l-header {
    position: relative;
    background: transparent url(header3.gif) top left no-repeat;
}

.l-header h1 {
    float: left;
    width: 500px;
    color: #00ae92;
    font-size: 2.8em;
    font-weight: normal;
    line-height: 110%;
    position: relative;
}

.l-header h1 a, .l-header h1 a:visited {
    color: #aa3f28;
    position: absolute;
    height: 100px;
    width: 525px;
    border: none;   text-indent: -9999px;

}

.l-header h2 {
    display: block;
    float: right;
    margin: 0;
    width: 180px; height: 43px;
    position: relative;
}

.l-header h2 a {
    display: block;
    overflow: hidden;
    width: 218px; height: 43px;
    text-indent: -9999em;
    color: #aa3f28;
    position: absolute;
    top: 50px;
    left: -190px;
    border: none;
}
    


/* Footer ----------------------------------------------- */


.vcard {
    padding-top: 30px;
    background: transparent url(footer-electrode.jpg) left top no-repeat;
}

.l-footer {
    background: transparent url(footer-bg3.jpg) left bottom repeat-x;
}

.l-footer ul {
    margin: 2em 0;
    padding: 0 40px;
    font-size: 1em;
}

.l-footer ul li {
    display: inline;
    margin-right: 1em;
    line-height: 2em;
}

.l-footer h3,
.l-footer p,
.l-footer address {
    font-size: 0.9em;
    color: #666;
}

.l-footer h3 {
    background: none;
    margin: 10px 0 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
}

.l-footer address {
    display: inline; padding: 0 0.5em;
}

.l-footer address,
.l-footer p {
    margin: 0;
    line-height: 1.7em;
    }

    

/* News releases =============================================== */

#release-side {
    overflow: hidden;
    font-family: "Lucida Grande", Lucida, "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

#release-side a {
    border: 0;
}

#release-side h4 {
    font-family: "Lucida Grande", Lucida, "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    margin: 1.5em 0 0.2em 0; padding: 0;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
}

#release-side h5 {
    margin: 0.5em 0 0.2em 0; padding: 0;
    font-size: 12px;
}

#release-side ul {
    margin-top: 5px;
}

#release-side ul li {
    font-size: 11px;        
    line-height: 120%;
}

#release-side ul.sidebar-tools {
    margin: 0; padding: 0;
}

#release-side ul.sidebar-tools li {
    list-style: none;
    font-size: 11px;    
    line-height: 120%;
}

#release-side p,
#release-side dd,
#release-side dt {
    font-size: 11px;
    line-height: 120%;
}
    


/* =4 Misc
===============================================*/

.photo_gallery img {
    width: 100px;
    border: 3px solid #fff;
    -moz-box-shadow: 0px 2px 2px #aaa;
    -webkit-box-shadow: 0px 2px 2px #aaa;
    box-shadow: 0px 2px 2px #aaa;
    margin: 0 6px 6px 0;
}

.photo_gallery a {
    border: none;
}


 /* Classes
    ========================================================================== */

    .figure {
        display:table;
        width:1px;
    }
    
    .figure-center,
    .image-center {
        margin-left: auto;
        margin-right:auto;
    }
    
    .figure-left,
    .image-left {
        float:left;
        margin-left:0;
    }
    
    .figure-right,
    .image-right {
        float:right;
        margin-right:0;
    }
    
    .image-center {
        display:block;
    }
    
    
   /* vcard
       ======================================================================== */
        
    .vcard a {
        margin-right:1em;
        position:relative;
    }
    
    .vcard a:after {
        color:#000;
        content:"\007C"; /* | */
        position:absolute;
        padding-left:.5em;
    }
    
    .vcard-org a:after,
    .vcard a:last-of-type:after,
    .vcard-sites a:last-of-type:after {
        content:"";
    }
    
.vcard {
    font:1em/1.75em Verdana, Helvetica, Arial, sans-serif;
}

    /* override reset backwards compatibility */
    .vcard-adr b {
        font-weight:normal;
    }
    
    .vcard-office {
        font-weight:normal;
    }
    
    .vcard-org {
        font-weight:normal;
    }
    .hiddenvisually  { display: none; } 